[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "<=9.0.0,>=8.0.3"
packaging = ">=21.0,<24.0"
requests = "<=3.0.0,>=2.26.0"
toml = "*"
pyyaml = ">=6.0,<=7.0"
psutil = ">=5.8.0,<=6.0.0"
rich = ">=10.12.0,<14.0.0"
pydantic = ">=1.8.2,<=2.0.0"

[dev-packages]
sphinx = "*"
sphinx-tabs = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-subprocess = "*"
pytest-cov = "*"
codecov = "*"
coverage = "*"
pytest-runner = "*"
flake8 = "*"
pipenv = "*"
build = "*"
